@import './components/variables';
@import './components/fonts';
@import './components/settings';
@import './components/header';
@import './components/intro';
@import './components/models';
@import './components/boxClocks';
@import './components/reviews';
@import './components/faq';
@import './components/footer';

.fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }

  .visible {
    opacity: 1;
  }